#leaderboard-screen:not(:checked)~aside {
    transform: translate(-100%, 0);
    opacity: 0;
}

aside {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 55px;
    padding: 25px;
    width: 100%;
    height: 100%;
    background-color: var(--theme-color-3);
}

aside div {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

aside button,
aside label {
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--theme-color-2);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

aside button {
    mask-image: url("./images/refresh.svg");
    -webkit-mask-image: url("./images/refresh.svg");
}

aside label {
    mask-image: url("./images/arrow-right.svg");
    -webkit-mask-image: url("./images/arrow-right.svg");
}

aside ol {
    display: grid;
    grid-auto-rows: min-content;
    overflow-y: auto;
    gap: 20px;
    padding: 0;
    background-color: var(--theme-color-3);
    list-style: none;
}

aside li {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: var(--theme-color-2);
    padding: 10px;
    border-radius: 10px;
}