#challenge-setup-done:not(:checked)~main {
    display: none;
}

main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 15px;
    height: 100%;
    padding: 30px 15px;
    max-width: 400px;
    margin: auto;
}

main div {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main div label {
    background-color: var(--theme-color-2);
    width: 30px;
    height: 30px;
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1L3 4L6 7' stroke='%23000' fill='none' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1L3 4L6 7' stroke='%23000' fill='none' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/svg%3E");
}

main h1 {
    font-size: 30px;
}

main section {
    text-align: justify;
    overflow-y: auto;
}

main section:empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

main section:empty::after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid;
    border-color: var(--theme-color-2) transparent var(--theme-color-2) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

main>label {
    text-align: center;
    background-color: var(--theme-color-4);
    border: 1px solid var(--theme-color-1);
    color: var(--theme-color-0);
    border-radius: 5px;
}

#challenge-finish-popup-toggle:disabled~main label {
    filter: grayscale(100%);
}

main>[for="challenge-setup-done"] {
    background-color: red;
}